.custom-message{
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #F2F3F7;
  background: #57A5DE;
  border-radius: 4px;
  font-family: 'Oxygen';
  transition: opacity 100ms ease-in-out;
  &--error{
    background: #ED5555;
  }
}