.overlay {
    position: fixed;
    top: 100px;
    left: 16vw;
    width: 100%;
    height: 100%;
    background: rgba(244, 247, 254, 0.7);
    z-index: 3;
} 
  
.wrapper {
    position: fixed;
    top: calc(50% + 50px);
    left: calc(50% + 8vw);
    transform: translate(-50%,-50%);
    border-radius: 12px;
    padding: 30px 40px;
    width: 100%;
    max-width: 540px;
    max-height: 100vh;
    background: var(--white);
    z-index: 4;
}

.title,
.title2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 36px;
}

.title2 {
    margin-bottom: 14px;
}

.btnsWrapper {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--gray2);
    margin-bottom: 34px;
}