.wrapper {
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-bottom: 8px;
}

.green {
    background: linear-gradient(135deg, rgba(83, 255, 60, 0.4), rgba(83, 255, 60, 0.1));
    border: 1px solid rgba(83, 255, 60, 0.18);
}

.info {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 32px;
    height: 32px;
    transition: all 0.3s;
}

.info:hover {
    transform: scale(1.2);
}

.bigWrapper {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: auto;
    left: 0;
    top: 0;
    width: calc(200% + 22px);
    height: 100%;
    background: rgba(0,0,0,0.7);
    /* backdrop-filter: none;
    -webkit-backdrop-filter: none; */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 12px;
}

.right {
    right: 0;
    left: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.jcsb_aic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aic {
    align-items: center;
}

.img {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.bigImg {
    max-height: 160px;
    width: 32%;   
}

.name {
    font-weight: 600;
    margin-left: 10px;
    color: white;
}

.price {
    margin-left: 10px;
    color: white;
}

.description {
    color: white;
    width: 68%;
    overflow: hidden; 
    max-height: 160px;
}

.bigName {
    font-weight: 600;
    font-size: 30px;
    color: white;
}

.bigPrice {
    font-weight: 600;
    font-size: 24px;
    color: white;
}