.wrapper {
    position: relative;
    flex: 0 1 calc(50% - 20px);
    margin-bottom: 30px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-bottom: 8px;
}

.green {
    background: linear-gradient(135deg, rgba(83, 255, 60, 0.4), rgba(83, 255, 60, 0.1));
    border: 1px solid rgba(83, 255, 60, 0.18);
}

.bigWrapper {
    z-index: 2;
    position: absolute;
    right: auto;
    left: 0;
    top: 0;
    width: calc(200% + 41px);
    /* max-height: 100%; */
    background: rgba(0,0,0,0.7);
    /* backdrop-filter: none;
    -webkit-backdrop-filter: none; */
    border-radius: 8px;
    padding: 12px;
}

.right {
    right: 0;
    left: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.jcsb_aic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aic {
    align-items: center;
}

.img {
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.bigImg {
    height: 200px;
    width: 32%;   
}

.name {
    font-weight: 600;
    margin-left: 10px;
    color: white;
}

.price {
    margin-left: 10px;
    color: white;
}

.description {
    color: white;
    width: 68%;
    /* display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical; 
    overflow: hidden;  */
}

.bigName {
    font-weight: 600;
    font-size: 30px;
    color: white;
}

.bigPrice {
    font-weight: 600;
    font-size: 24px;
    color: white;
}
 
@media screen and (min-width: 768px) {
    .wrapper {
        flex: 0 1 calc(33.3% - 20px);
        padding: 8px;
   }

   .bigWrapper {
        width: calc(200% + 31px);
   }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        flex: 0 1 calc(25% - 20px);
   }

   .bigWrapper {
        width: calc(200% + 27.6px);
    }
}

@media screen and (min-width: 1280px) {
    .wrapper {
        flex: 0 1 calc(20% - 20px);
   }

   .bigWrapper {
        width: calc(200% + 26.6px);
    }
}